.qrcode_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 720px;
    width: 250px;
    margin-top: 50px;
}
.qrcode_img {
    width: 250px;
    height: 250px;
    background-color: white;
}
